// color common
$main: #605cff;
$gray: #777;
$dkgray: #888;
$white: #fff;
$black: #222;

.v-btn {
  letter-spacing: normal;
}
// font weight

.font-normal {
  font-weight: normal !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: bold !important;
}

// font 정의
.font-14 {
  font-size: 0.636rem;
}
.font-16 {
  font-size: 0.727rem;
}
.font-18 {
  font-size: 0.818rem;
}
.font-21 {
  font-size: 0.954rem;
}
.font-24 {
  font-size: 1.09rem;
}
.font-27 {
  font-size: 1.22rem;
}
.font-28 {
  font-size: 1.273rem;
}
.font-32 {
  font-size: 1.455rem;
}
.font-40 {
  font-size: 1.81rem;
}
.font-47 {
  font-size: 2.1rem;
}
.font-59 {
  font-size: 2.6rem;
}
html {
  font-size: 22px !important;

  @media (min-width: 769px) {
    font-size: 22px !important;
  }
  @media (max-width: 768px) {
    font-size: 15px !important;
  }
  @media (max-width: 640px) {
    font-size: 18px !important;
  }
  @media (max-width: 600px) {
    font-size: 18px !important;
  }
  @media (max-width: 550px) {
    font-size: 17.5px !important;
  }
  @media (max-width: 480px) {
    font-size: 16px !important;
  }
  @media (max-width: 414px) {
    font-size: 14.5px !important;
  }
  @media (max-width: 412px) {
    font-size: 14.5px !important;
  }
  @media (max-width: 375px) {
    font-size: 13.1px !important;
  }
  @media (max-width: 360px) {
    font-size: 12.8px !important;
  }
  @media (max-width: 320px) {
    font-size: 11.2px !important;
  }
}
.pannel1 .v-expansion-panel-content__wrap {
  padding: 0;
}


