[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-cors-headers = "*"
django-cleanup = "*"
djangorestframework = "*"
drf-yasg = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"

[requires]
python_version = "3.9"

[scripts]
local = "python manage.py runserver --settings=web_proj.settings.local"
prod = "python manage.py runserver --settings=web_proj.settings.production --insecure"
